<%= form_for(@quote) do |f| %>
  <% if @quote.errors.full_messages.any? %>
    <div class="error">
      <% @quote.errors.full_messages.each do |msg| %>
        <div><span class="icon">&cross; </span><%= msg %></div>
      <% end %>
    </div>
  <% end %>
  <div class="quote_text">
    <%= f.text_area :quote_text,  :rows => 5 %>
  </div>
  <table >
    <tr>
      <td><%= f.label :name %></td>
      <td><%= f.text_field :name %></td>
    </tr>  
    <tr>
      <td><%= f.label :url %></td>
      <td><%= f.text_field :url %></td>
    </tr>
    <tr>
      <td><%= f.label :email %></td>
      <td><%= f.text_field :email %></td>
    </tr>
  </table>
  <div>
    <%= f.submit "Submit quote" %>
  </div>
<% end %>
